apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: student-management-pvc
  namespace: default
  labels:
    app: student-management
spec:
  accessModes:
  - ReadWriteOnce
  storageClassName: standard
  resources:
    requests:
      storage: 1Gi
